<div
  id="carouselExampleControlsNoTouching"
  class="carousel slide"
  data-bs-touch="false"
>
  <div class="carousel-inner bg-secondary">
    <div class="carousel-item" [ngClass]="{ active: checkCarousel(getCarousel()) }">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        style="object-fit: contain;"
        width="800"
        height="400"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: First slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        [src]="getPathImage(getCarousel())"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    (click)="previous()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    (click)="next()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
